@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-border-radius;
  transition: 275ms ease;

  &[data-type="primary"] {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:is(:hover, :focus) {
      background-color: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }

  &[data-type="transparent"] {
    background-color: transparent;
    color: $button-primary-color;
    border: 0;
    padding: 0;

    &:is(:hover, :focus) {
      background-color: transparent;
      color: $button-primary-color-hover;
    }
  }
}
