$-clr-white: white;
$-clr-very-darkblue: hsl(226, 43%, 10%);
$-clr-darkblue: hsl(235, 46%, 20%);
$-clr-darkblue-hover: hsl(236, 41%, 34%);
$-clr-desaturated-blue: hsl(235, 45%, 61%);
$-clr-pale-blue: hsl(236, 100%, 87%);
$-clr-blue: hsl(193, 38%, 86%);
$-clr-red-work: hsl(15, 100%, 70%);
$-clr-blue-play: hsl(195, 74%, 62%);
$-clr-red-study: hsl(348, 100%, 68%);
$-clr-limegreen-exercise: hsl(145, 58%, 55%);
$-clr-violet: hsl(264, 64%, 52%);
$-clr-purple: hsl(246, 80%, 60%);
$-clr-orange-selfcare: hsl(43, 84%, 65%);

$colors: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-pale-blue,
    "400": $-clr-desaturated-blue,
    "500": $-clr-darkblue-hover,
    "800": $-clr-darkblue,
    "900": $-clr-very-darkblue
  ),
  "primary": (
    "100": $-clr-blue,
    "150": $-clr-blue-play,
    "200": $-clr-red-study,
    "250": $-clr-red-work,
    "300": $-clr-orange-selfcare,
    "400": $-clr-limegreen-exercise,
    "500": $-clr-purple,
    "550": $-clr-violet
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);

$color-primary-100: var(--primary-100);
$color-primary-150: var(--primary-150);
$color-primary-200: var(--primary-200);
$color-primary-250: var(--primary-250);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
