@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;
@use "functions" as *;

$active-theme: $light;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-neutral-100;
$color-background-default: $color-neutral-900;
$color-text-interactive-default: $color-neutral-400;
$color-text-interactive-hover: $color-neutral-000;

// set to 0 to disable
$letter-spacing-loose: 0;

$border-radius-1: 0.938rem;

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-accent;
$heading-color-default: $color-neutral-000;
$heading-font-weight: $font-weight-medium;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 1;
$heading-text-transform: uppercase;

$heading-1-font-size: $font-size-900;
$heading-1-color: $heading-color-default;
$heading-2-font-size: $font-size-800;
$heading-2-color: $heading-color-default;
$heading-3-font-size: $font-size-400;
$heading-3-color: $heading-color-default;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$section-padding-block: clamp(5rem, 10vh, 6rem);

$container-min-margin-inline: $size-6;
$container-max-width: 64rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;

// buttons
$button-font-family: $body-font-family;
$button-font-size: $font-size-400;
$button-font-weight: $font-weight-default;
$button-text-transform: capitalize;
$button-padding: 0.75em 2em;
$button-border: 0;
$button-border-radius: $border-radius-1;

$button-primary-color: $color-text-interactive-default;
$button-primary-background: transparent;
$button-primary-color-hover: $color-text-interactive-hover;
$button-primary-background-hover: transparent;

// cards
$card-padding: $size-6 $size-7;
$card-border-radius: $border-radius-1;
$card-background-default: $color-neutral-800;
$card-color-default: $color-neutral-100;
$card-font-family: $body-font-family;
$card-line-height: 1;
$card-heading-color-default: $heading-3-color;
$card-heading-font-size: $heading-3-font-size;

